<div class="container mt-5">
  <h2>Pagina di Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
    <div class="form-group">
      <label for="loginUsername">Username</label>
      <input type="text" class="form-control" id="loginUsername" name="username" ngModel placeholder="Inserisci il tuo username">
    </div>
    <div class="form-group">
      <label for="loginPassword">Password</label>
      <input type="password" class="form-control" id="loginPassword" name="password" ngModel placeholder="Inserisci la tua password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
